{
	"$schema": "https://json.schemastore.org/prettierrc.json",
	"useTabs": true,
	"singleQuote": true,
	"trailingComma": "all",
	"printWidth": 80,
	"overrides": [
		{
			"files": "*.yaml",
			"options": {
				"useTabs": false,
				"proseWrap": "never"
			}
		}
	]
}
